@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Selen Font";
        font-style: normal;
        font-display: auto;
        src: local("Selen Font"),
             url("/fonts/Selen-Regular.ttf") format("truetype");
    }

    button:disabled {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%);

    }
}

@layer components {
    .submit-button {
    	background-image: url("/buttons/submit-idle.png");
    	background-size: contain;
    	background-repeat: no-repeat;
    }
    .submit-button:hover {
    	background-image: url("/buttons/submit-hover.png");
    }

    .reset-button {
    	background-image: url("/buttons/reset-idle.png");
    	background-size: contain;
    	background-repeat: no-repeat;
    }
    .reset-button:hover {
    	background-image: url("/buttons/reset-hover.png");
    }

    .selector-border {
	border-color: rgb(0 0 0);
    }

    .selector-border-selected {
	border-color: rgb(124 58 237);
    }
}
